In [7]:
df <- read.csv("data/census/demographics/preprocessed/districtDemographics.csv")
str(df)

'data.frame':	435 obs. of  69 variables:
 $ districtDemographics     : Factor w/ 435 levels "Alabama 1","Alabama 2",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ sex_ratio                : num  93.1 93.2 94.9 96.3 95.2 ...
 $ minors                   : num  22.5 22.5 21.7 22.5 21.6 ...
 $ voting_age_pop           : int  556011 523012 562241 533068 576830 540854 525572 551796 604473 594587 ...
 $ seniors                  : num  23.6 23 21.3 24.1 21.8 ...
 $ med_age                  : num  40.4 39 38.9 41.1 39.7 39.9 36.8 35 39 41.5 ...
 $ white                    : num  66.9 62.8 68.9 86.8 75 ...
 $ black                    : num  27.4 32.2 26.3 7.4 18.3 ...
 $ amerindian               : num  1.026 0.311 0.298 0.477 0.544 ...
 $ islander                 : num  0.0192 0.045 0.0521 0.1049 0.0482 ...
 $ asian                    : num  1.416 1.253 1.844 0.474 1.655 ...
 $ other_race               : num  1.144 1.393 0.972 2.953 1.774 ...
 $ multiracial              : num  2.09 1.93 1.68 1.78 2.62 ...
 $ hispanic                 : num  3.29 3.87 2.95 6.94 5.46 ...
 $ mexican                  : num  46.6 55.9 50.3 50.7 69.1 ...
 $ puerto_rican             : num  13.12 17.62 13.86 6.91 10.07 ...
 $ cuban                    : num  4.964 1.765 0.751 1.312 2.619 ...
 $ other_hispanic           : num  35.3 24.7 35.1 41.1 18.2 ...
 $ natural_born_citizen     : num  96.9 97.1 96.8 95.9 95.8 ...
 $ born_in_state            : num  504787 472690 476101 532080 454992 ...
 $ born_out_of_state        : num  207282 194570 233958 150846 270292 ...
 $ born_abroad              : num  5369 7660 7836 4526 10574 ...
 $ foreign_born             : num  3.15 2.9 3.24 4.1 4.24 ...
 $ disabled                 : num  13.1 15.7 16.8 16.9 13.5 ...
 $ same_house               : num  88.5 85.3 86 90 84.9 ...
 $ diff_county              : num  3.4 6.79 5.99 3.9 5.78 ...
 $ diff_state               : num  1.77 2.99 2.51 1.05 2.86 ...
 $ abroad                   : num  0.107 0.548 0.322 0.156 0.234 ...
 $ labor_force_participation: num  56.2 57 58.2 55.9 60.4 ...
 $ unemployment             : num  5.7 4.5 5.9 4.3 4.3 3.3 6.8 5.8 6.9 4.7 ...
 $ servicemen               : num  0.1086 1.6628 0.738 0.0662 0.2977 ...
 $ car                      : num  93.4 94 94 96.2 93.7 ...
 $ walking_public_transit   : num  1.21 2.02 2.21 1.09 1.18 ...
 $ worked_from_home         : num  3.81 3.1 2.86 2.13 3.98 ...
 $ commute                  : num  25 23.5 26 26.8 23.3 28.7 24.5 20.2 26.1 24 ...
 $ private_sector           : num  78.7 75.7 75.5 79.8 79.2 ...
 $ public_sector            : num  15.7 19.5 19 13.8 15.7 ...
 $ self_employed            : num  5.35 4.75 5.27 6.09 5.03 ...
 $ homeowner_vacancy        : num  2.2 1.8 1.8 1.3 0.8 1.3 0.9 1.7 1.9 1.9 ...
 $ rental_vacancy           : num  20.9 8.5 6.8 7.7 5.2 8.3 8.4 9.2 8.3 6.5 ...
 $ owner_occupied           : num  69.1 65.6 71.6 73.9 69.5 ...
 $ renter_occupied          : num  30.9 34.4 28.4 26.1 30.5 ...
 $ two_or_less              : num  25.2 27.1 26.8 21.8 29.3 ...
 $ three_to_four            : num  13.5 13.2 11.6 12.1 12.3 ...
 $ five_to_nine             : num  14.3 13.5 16.2 16.5 14.2 ...
 $ ten_to_nineteen          : num  21.8 21.7 20.5 21 20.5 ...
 $ twenty_to_twenty_nine    : num  11.5 11.4 11.6 13.1 11.9 ...
 $ thirty_or_more           : num  13.7 13.2 13.2 15.5 11.8 ...
 $ med_smoc_mort            : int  1220 1092 1141 1066 1192 1414 1081 1882 1358 1351 ...
 $ med_smoc_no_mort         : int  365 347 350 342 370 415 366 577 352 430 ...
 $ med_rent                 : int  872 815 771 661 783 1026 789 1201 971 883 ...
 $ med_hincome              : int  50663 50494 51925 47531 59950 69072 38023 75463 56117 54835 ...
 $ mean_hincome             : int  68866 66203 69896 63030 80182 96777 53378 98504 73110 78700 ...
 $ insured                  : num  89.8 89.6 91.5 88.6 90.7 ...
 $ private_coverage         : num  70.9 72.3 75.1 72.7 80.3 ...
 $ public_coverage          : num  43.5 44.5 40.3 43.9 37.1 ...
 $ uninsured                : num  10.19 10.4 8.52 11.43 9.34 ...
 $ pov_families             : num  11.1 13 10.8 10.9 9.8 6.3 18.1 6.6 12.2 8.4 ...
 $ pov_mcouples             : num  4.3 5.1 6.1 6.6 4.5 3.8 6 3.3 5.6 4.7 ...
 $ pov_single_mothers       : num  27.7 32.5 30.1 27.7 29.1 16.5 37.1 20.5 31.4 20.3 ...
 $ pov                      : num  15.4 16.4 15 15.6 13.2 9.5 23.7 10.1 18 13.1 ...
 $ no_hsdiploma             : num  11.8 13.4 14.9 17.1 10.7 ...
 $ high_school              : num  33.6 31.9 30.9 34.2 27.2 ...
 $ some_college             : num  20.7 21.8 20.5 22 20 ...
 $ associates               : num  8.93 9.36 9.72 9.18 8.75 ...
 $ bachelors                : num  16.1 14.8 13.6 11.5 20.9 ...
 $ graduate                 : num  8.88 8.7 10.38 6.06 12.58 ...
 $ party                    : Factor w/ 2 levels "D","R": 2 2 2 2 2 2 1 2 1 1 ...
 $ flipped                  : logi  NA NA NA NA NA NA ...

In [8]:
head(df)

  districtDemographics sex_ratio minors   voting_age_pop seniors  med_age
1 Alabama 1            93.08131  22.50048 556011         23.58784 40.4
2 Alabama 2            93.23566  22.50756 523012         23.00769 39.0
3 Alabama 3            94.94217  21.68211 562241         21.32395 38.9
4 Alabama 4            96.34558  22.45754 533068         24.12394 41.1
5 Alabama 5            95.17071  21.61123 576830         21.80504 39.7
6 Alabama 6            92.60237  22.69152 540854         21.40504 39.9
  white    black     amerindian islander   ... pov_single_mothers pov
1 66.89846 27.408780 1.0258726  0.01923511 ... 27.7               15.4
2 62.83930 32.227227 0.3108517  0.04504238 ... 32.5               16.4
3 68.87571 26.273026 0.2983719  0.05209668 ... 30.1               15.0
4 86.81830  7.396287 0.4766871  0.10487990 ... 27.7               15.6
5 75.01665 18.345795 0.5442626  0.04824300 ... 29.1               13.2
6 78.59321 15.964437 0.3889338  0.00000000 ... 16.5                9.5
  no_hsdiploma high_school some_college associates bachelors graduate  party
1 11.827283    33.59055    20.68379     8.933211   16.08657   8.878595 R
2 13.380469    31.92943    21.83094     9.357044   14.80710   8.695022 R
3 14.920376    30.90275    20.50690     9.719882   13.56845  10.381647 R
4 17.057698    34.23822    21.98402     9.183179   11.47589   6.060986 R
5 10.659150    27.15756    19.98443     8.745818   20.86955  12.583490 R
6  9.048748    23.65964    20.85788     7.971560   23.85066  14.611508 R
  flipped
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

In [12]:
# Addressing NA values in flipped column
for (i in 1:length(df$flipped)) {
    if (df[i, "flipped"] != TRUE) {df[i, "flipped"] <- FALSE}
}

ERROR: Error in if (df[i, "flipped"] != TRUE) {: missing value where TRUE/FALSE needed